<nav class="navbar fixed-top navbar-light justify-content-center">
  <a class="navbar-brand" routerLink="" href="#">AEGIS</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dialog Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/keyaccess" href="#">Confidencial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" id="content-site">
<router-outlet></router-outlet>
</div>

<footer class="footer centered">
  <span>Place sticky footer content here.</span>
</footer>

