.create-dialog h2 {
    text-align: center;
}
.dialog-friends {
    height: 250px;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.friend {    
    height: 70px;
    margin-bottom: 10px;
}
.friend-img {
    height: 70px;
    width: 70px;
    float: left;
}
.friend-name {
    padding-top: 26px;
    display: inline-block;
    vertical-align: middle;
}
input[type="checkbox"].friend-checkbox{
    font-size: 30px;
    float: right;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].friend-checkbox:checked{
	background: #0ebeff;
  }
  
  input[type="checkbox"].friend-checkbox:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].friend-checkbox:checked:after{
	left: calc(100% - 1.5em);
  }
.dropzone {
    max-width: 800px;
    padding: 4em;
    background-color: #fff;
    border: dashed 2px #eee;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;   
    &.is-dragged-over {
        background-color: #eee;
        border: dashed 2px #ddd;
        * {
            pointer-events: none;
        }
    }
    &.disabled {
        opacity: 0.5;
        a:hover {
                cursor: not-allowed;
        }
    }         
    #file-input {
        display: none;
    }
    .mat-icon {
        width: auto;
        height: auto;
        font-size: 48px;
        &.upload-icon {
            opacity: 0.5;
        }
    }
    p {    
        margin-bottom: 0.25em;
        font-size: 1.15em;
        &.file-name {
            margin: 0 auto;
            opacity: 0.8;
            font-size: 0.85em;
            max-height: 1.2em;
            line-height: 1.2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
        a {
            font-weight: 700;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.dialog-btn {
    width: 250px;
    height: 60px;
}

.new-dialog-title {
	margin-top: 1em;
    margin-bottom: 2em;
}
    .n-d-image {        
        display: flex;
        justify-content: center;
        align-items: center;
    }
	.new-dialog-image {
		background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
		background-size: cover;
		width: 6em;
		height: 6em;
        border-radius: 50%;
	}
.new-dialog-friend {
	display: flex;
	align-items: center;
	padding-left: 2em;
}
	.name-friend {
		padding-left: 2em;
	}
	mat-checkbox {
		margin-left: auto;
    }
.full-width {
    width: 100%;
    }