<div class="row justify-content-md-center">	
	<div class="col-md-8 create-dialog">
		<h2>Create a dialogue</h2>
		<div class="dialog-friends">
			<div class="friend" *ngFor="let friend of _friends">			
				<img class="rounded-circle friend-img" src="../../assets/images/vk.png" alt="logo name">
				<h5 class="friend-name col-sm-7">{{friend.Person.fullName}}</h5>			
				<input class="friend-checkbox" type="checkbox" [(ngModel)]="friend.IsChecked">			
			</div>
		</div>
		<div class="dialog-defense row">
			<div class="col-sm-6">
					<div class="dropzone" 
					appDragAndDrop 
					(droppedFile)="onDropFiles($event)" 
					(draggingOver)="onDragOver($event)" 
					[ngClass]="{'disabled': disabled, 'is-dragged-over': isDraggedOver}">	
					<p><a (click)="openFileDialog()">Choose a file</a> or drag it here</p>	
					<input type="file" 
						id="file-input" 
						#fileInput 
						(change)="onBrowseFiles($event)" 
						[multiple]="multiple" 
						[disabled]="disabled">	
					<p class="file-name">
						<ng-container *ngIf="files === undefined || files.length === 0">
							No files selected
						</ng-container>
						<ng-container *ngIf="files !== undefined && files.length > 0">
							<ng-container *ngIf="files.length === 1">{{ files[0].name }}</ng-container>
							<ng-container *ngIf="files.length > 1">Multiple files selected</ng-container>
						</ng-container>
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-default btn-block">Create a new Key</button>
			</div>
		</div>
		<div class="input-group">
			<input type="text" placeholder="Name of the dialog" class="form-control" [(ngModel)]="convName">
			<span class="input-group-btn">
				<button class="btn btn-primary dialog-btn" (click)="addConv()" type="button" routerLink="">Go!</button>
			</span>
		</div>
	</div>
</div>