<div class="row">
	<div class="card col-sm-4" >
  <div class="card-body">
    <button class="btn btn-primary" (click)="accSvc.createAccount('VKontakte')" routerLink="">Войти через VK</button>
  </div>
</div>
<div class="card col-sm-4">
  <div class="card-body">
    <button class="btn btn-primary" (click)="accSvc.createAccount('Facebook')"  routerLink="">Войти через Facebook</button>
  </div>
</div>
<div class="card col-sm-4">
  <div class="card-body">
    <button class="btn btn-primary" (click)="accSvc.createAccount('Skype')" routerLink="">Войти через Skype</button>
  </div>
</div>
</div>