<div class="row">
	<div class="card col-sm-4" >
  <div class="card-body">
    <!--<input type="text" [(ngModel)]="tokenStr">-->
    <input type="text" #tokenStr>
    <!--<button class="btn btn-primary" (click)="accSvc.createVkAcc('VKontakte', tokenStr)" routerLink="">Login with VK</button>-->
    <button class="btn btn-primary" (click)="accSvc.createVkAcc('VKontakte', tokenStr.value)" routerLink="">Login with VK</button>
  </div>
</div>
<div class="card col-sm-4">
  <div class="card-body">
    <button class="btn btn-primary" (click)="accSvc.createAccount('Facebook')"  routerLink="">Login with Facebook</button>
  </div>
</div>
<div class="card col-sm-4">
  <div class="card-body">
    <button class="btn btn-primary" (click)="accSvc.createAccount('Skype')" routerLink="">Login with Skype</button>
  </div>
</div>
</div>