a:hover {
	transform: scale(1.02);
	box-shadow: 0 0 .5em rgba(0,0,0,0.5);
	z-index: 10000;
}
.dialog, .accounts ,.convAdd, .firstWindow {
	margin-top: .6em;
}
.messages, .accounts {
	min-height: 100%;
}
.btnFirstWindow {
	height: 4em;
	font-size: 3em;
}
.form-messages {
	min-width: 9em;
	max-width: 31em;
	width: 100%;
  }
  .form-full-width {
	width: 100%;
  }
.message-card {
	max-width: 28em;
	background-color: inherit;
	display: flex;
	align-items: center;	
	justify-content: flex-start;
  }
  .message-logo-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
	}
	.message-card-header {
		background-color: #e8e8e8;
		width: 100%;
		margin-left: 2em;
		position: relative;
		width: 100%;
	}
	.message-card-header:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-top: 1em solid transparent;
		border-right: 1em solid #e8e8e8;
		border-bottom: 1em solid transparent;
		left: -1em;
		top: 0;
	}
	.date {
		opacity: .8;
	}