a:hover {
	transform: scale(1.02);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	z-index: 10000;
}
.dialog, .conversation {
	margin-top: 10px;
}
.messages, .convStat {
	min-height: 100%;
}
.badge {
	background-color: #4D9BA6;
}
.centered {
	text-align: center;
}
.convAdd {
	margin-top: 10px;
}
.inner_button {
	min-height: 100%;
	background: rgb(0,0,0);
}