a:hover {
	transform: scale(1.02);
	box-shadow: 0 0 .5em rgba(0,0,0,0.5);
	z-index: 10000;
}
.dialog, .accounts ,.convAdd, .firstWindow {
	margin-top: .6em;
}
.messages, .accounts {
	min-height: 100%;
}
.btnFirstWindow {
	height: 4em;
	font-size: 3em;
}
.card-title span {
	float:	right;
	opacity: .8;
}

