<div class="firstWindow row justify-content-center" *ngIf="convSvc.accounts.length == 0">
	<div class="col-sm-6">
		<button mat-raised-button class="btn btn-primary btn-lg btn-block btnFirstWindow" routerLink="/checkin" type="button">New Account <mat-icon>account_box</mat-icon></button>
	</div>
</div>
<div class="row no-gutters" *ngIf="convSvc.accounts.length> 0">
	<div class="col-sm-4 accounts">
		<div class="list-group" *ngFor="let i_acc of convSvc.accounts">
			<li href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active" >{{i_acc.accName}} (Name Account)
				<button mat-raised-button type="button" class="btn btn-outline-dark" routerLink="/convaccess/{{i_acc.id}}"><mat-icon>add</mat-icon>
				</button>
			</li>
			<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
				*ngFor="let i_conv of i_acc.convAcc" (click)="selectConv(i_conv, i_acc)"><mat-icon>face</mat-icon>{{i_conv.nameConv}}
				<span matBadge="{{i_conv.messageCount}}" matBadgePosition="after" matBadgeColor="accent"></span>
			</a>
		</div>
		<div class="convAdd">
			<button mat-raised-button class="btn btn-primary btn-lg btn-block" routerLink="/checkin" type="button">New Account <mat-icon>add</mat-icon></button>
		</div>
	</div>
	<div class="col-sm-8 dialog">
		<div class="messages" *ngIf="selectedConv.messageCount > 0">
			<mat-card class="message-card" *ngFor="let i_msg of selectedConv.messages">
				<mat-card-header>
					<div mat-card-avatar class="message-logo-image"></div>
					<mat-card-title>My Name<span class="date">{{i_msg.date|date:'h:mm:ss'}}</span></mat-card-title>
					<mat-card-subtitle>{{i_msg.textMessage}}</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
		</div>
		<div class="editMessage" *ngIf="selectTrue == true">
			<div class="input-group">
			<form class="form-messages">
				<mat-form-field class="form-full-width">
					<input matInput placeholder="Add text message" [(ngModel)]="textMessage" name="textMessage" (keyup.enter)="sendMessage()">
					<mat-error>text None</mat-error>
				</mat-form-field>
			</form>
			<div class="input-group-append">
				<button mat-button class="btn btn-outline-secondary" type="button" (click)="sendMessage()">Send <mat-icon>send</mat-icon></button>
			</div>
			</div>
		</div>
		<div class="alert alert-success" *ngIf="selectTrue == false" role="alert">Select Dialog Please</div>
	</div>
</div>