a:hover {
	transform: scale(1.02);
	box-shadow: 0 0 .5em rgba(0,0,0,0.5);
	z-index: 10000;
}
.dialog, .accounts ,.convAdd, .firstWindow {
	margin-top: .6em;
}
.messages, .accounts {
	min-height: 100%;
}
.btnFirstWindow {
	height: 4em;
	font-size: 3em;
}
.form-messages {
	min-width: 9em;
	max-width: 31em;
	width: 100%;
  }
  .form-full-width {
	width: 100%;
  }
.message-card {
	max-width: 400px;
  }  
  .message-logo-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }
  .date {
	//   float: right;
	  opacity: .8;
  }