@import '@angular/material/prebuilt-themes/indigo-pink.css';
html {	
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-image: url('/assets/bg.png');	
	background-color: rgba(77, 155, 166,.4);
	font-size: 16px;
}
ul {
	list-style: none;
}
